.container-3 {
    background: #333;
    color: #fff;
    padding: 20px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container-3 .redes-sociales,
.contactanos,
.pie-final {
    text-align: center;
    margin: 20px;
}

.pie-final {
    grid-column-start: 1;
    grid-column-end: -1;
}

.container-3 i {
    padding: 10px;
    color: #fff;
}

.container-3 i:hover {
    color: cadetblue
}

.contactanos i {
    cursor: pointer
}

.container-3 {
    background-color: #555
}