 h3 {
     text-align: center
 }
 
 .chat-bar-collapsible {
     position: fixed;
     bottom: 0;
     right: 50px;
     box-shadow: 0px 8px 16px 0 rgba(0, 0, 0, 0.2);
 }
 
 .collapsible {
     background-color: rgba(82, 151, 255);
     width: 100%;
     height: 100px;
     bottom: 40px;
     right: -4px;
     color: #FFF;
     border-radius: 8px;
     text-align: center;
     box-shadow: 2px 2px 3px #999;
 }
 
 .collapsible:hover {
     opacity: .8;
 }
 
 .content2 {
     max-height: 0;
     overflow: hidden;
     transition: max-height 0.2 ease-out;
     /* background-color: #f1f1f1;*/
     background-color: #08020277;
 }
 
 .full-chat-block {
     width: 460px;
     background-color: #EEEEEE;
     text-align: center;
     overflow: auto;
     scrollbar-width: none;
     height: max-content;
     transition: max-height 0.2s ease-out;
 }
 
 .outer-container {
     min-height: 400px;
     bottom: 0%;
     position: relative;
 }
 
 .chat-container {
     max-height: 400px;
     width: 100%;
     position: absolute;
     bottom: 0;
     left: 0;
     scroll-behavior: smooth;
     hyphens: auto;
 }
 
 .chat-container::-webkit-scrollbar {
     display: none;
 }
 
 .chat-bar-input-block {
     display: flex;
     float: left;
     box-sizing: border-box;
     justify-content: space-between;
     width: 100%;
     align-items: center;
     background-color: rgba(235, 235, 235);
     border-radius: 10px 10px 0px 0px;
     padding: 10px 0px 10px 10px;
 }
 
 .chat-bar-icons {
     display: flex;
     justify-content: space-evenly;
     box-sizing: border-box;
     width: 25%;
     float: right;
     font-size: 20px;
 }
 
 #chat-icon:hover {
     opacity: .7
 }
 
 #userInput {
     width: 75%;
 }
 
 .input-box {
     float: left;
     border: none;
     box-sizing: border-box;
     width: 100%;
     border-radius: 10px;
     padding: 10px;
     font-size: 16px;
     color: #000;
     background-color: white;
     outline: none;
 }
 
 .userText {
     color: white;
     font-family: helvetica;
     font-size: 16px;
     font-weight: normal;
     text-align: right;
     clear: both;
 }
 
 .userText span {
     line-height: 1.5em;
     display: inline-block;
     background-color: #5ca6fa;
     padding: 8px;
     border-radius: 5px;
     border-bottom-right-radius: 2px;
     max-width: 80%;
     margin-right: 10px;
     animation: floatup .5s forwards;
 }
 
 .botText {
     color: #000;
     font-family: helvetica;
     font-weight: normal;
     font-size: 16px;
     text-align: left;
     margin-top: -50px;
 }
 
 .botText span {
     line-height: 1.5em;
     display: inline-block;
     background-color: #e0e0e0;
     padding: 10px;
     border-radius: 8px;
     border-bottom-left-radius: 2px;
     max-width: 80%;
     margin-left: 10px;
     animation: floatup .5s forwards
 }
 
 @keyframes floatup {
     from {
         transform: translateY(14px);
         opacity: .0;
     }
     to {
         transform: translateY(0px);
         opacity: 1;
     }
 }
 
 @media screen and (max-width:600px) {
     .full-chat-block {
         width: 100%;
         border-radius: 0px;
     }
     .chat-bar-collapsible {
         position: fixed;
         bottom: 0;
         right: 0;
         width: 100%
     }
     .collapsible {
         width: 100%;
         border: 0px;
         border-top: 3px solid white;
         border-radius: 0px;
     }
 }
 
 .float {
     display: flex;
     position: fixed;
     width: 200px;
     height: 70px;
     bottom: 40px;
     right: -4px;
     background-color: rgba(82, 151, 255);
     color: #FFF;
     border-radius: 30px;
     text-align: center;
     font-size: 30px;
     box-shadow: 2px 2px 3px #999;
 }
 
 .float:hover {
     opacity: .8;
 }
 
 .my-float {
     margin-top: 14px;
     margin-right: 15px;
 }
 
 .float p {
     font-size: 15px;
     margin-top: 15px;
 }