body {
    background-color: white
}

.linea {
    background-color: #192231;
    width: 100%;
    max-width: 95%;
    margin: auto;
    height: 2px;
}

section {
    margin: 50px;
    /*background: radial-gradient(#fff, #ccc);*/
    background-color: rgba(0, 0, 0, .04);
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);
}

h1 {
    padding-top: 50px;
}

.login {
    height: 600px;
    margin: auto;
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*background: #ABCDEF;*/
}

.login-img {
    width: 100%;
    max-width: 90%;
    display: block;
    margin: auto;
}

.login-img img {
    width: 100%;
    margin: auto;
    max-width: 90%
}

.login-img p {
    margin-top: 30px;
    font-size: 17px;
}

.form-container {
    width: 100%;
    background: #fff;
    max-width: 300px;
    height: 480px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.form-container span {
    font-weight: bold;
    padding: 10px;
    color: #555;
    cursor: pointer;
    width: 110px;
    display: inline-block;
}

.separador {
    display: inline;
}

.form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 100px;
    transition: transform 1s;
}

form div {
    padding: 5px;
}

form input {
    width: 100%;
    max-width: 95%;
    height: 30px;
    margin: 10px 0;
    padding: 0 20px;
    border: 1px solid #ccc;
    overflow: hidden;
}

form input:focus {
    border: 2px solid #555;
    outline: none;
}

form .boton {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: auto;
    display: block;
    max-width: 210px;
    text-align: center;
}

.boton {
    background-color: #192231;
    color: #fff;
    border-radius: 8px;
    padding: 10px;
    display: block;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.boton:hover {
    background-color: #c7c3c3;
    color: #000
}

#formulario-login {
    left: -300px;
}

#formulario-registro {
    left: 0;
}

form a {
    font-size: 12px;
}

#indicador {
    width: 90%;
    max-width: 70%;
    border: none;
    background-color: #192231;
    height: 3px;
    margin-top: 8px;
    transform: translateX(150px);
    transition: transform 1s;
}

form .google {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: auto;
    display: block;
    max-width: 210px;
    text-align: center;
}

form .facebook {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: auto;
    max-width: 210px;
    text-align: center;
}

.google {
    display: inline-block;
    background-color: #4bdf70;
    color: #fff;
    border-radius: 8px;
    padding: 10px;
    display: block;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    width: 100%;
}

.google:hover {
    background-color: #c7c3c3;
    color: #000
}

.facebook {
    display: inline-block;
    background-color: #4b98df;
    color: #fff;
    border-radius: 8px;
    padding: 10px;
    display: block;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    margin: auto;
    text-align: center;
}

.facebook:hover {
    background-color: #c7c3c3;
    color: #000
}

form .enviar {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: auto;
    max-width: 90%;
}

.enviar {
    background-color: #192231;
    color: #fff;
    border-radius: 8px;
    padding: 10px;
    display: block;
    border: none;
    cursor: pointer;
    font-size: 12px;
}

.enviar:hover {
    background-color: #c7c3c3;
    color: #000
}

@media(max-width: 768px) {
    .linea {
        background: #192231;
        width: 450px;
        margin: auto;
        height: 2px;
    }
    section {
        box-shadow: 0px 0px;
    }
    .login-form {
        grid-column: 1/ -1;
    }
    .login-img {
        display: none;
    }
}

.text-center {
    text-align: center
}