    * {
        margin: 20px;
        padding: 0;
        background-color: aliceblue;
    }
    
    body {
        background-color: var(--primary-color);
    }
    
    .container {
        text-align: center;
    }
    
    .content {
        padding: 20px;
        text-align: center;
    }
    
    img {
        margin-right: 100%;
        width: 10%;
        height: 100px;
        margin-top: 10px;
        border-radius: 10px;
        box-shadow: 0 0 5px #333;
    }
    
    button {
        padding: 10px;
        margin-top: 20px;
        background-color: rgb(158, 149, 149);
        color: white;
        cursor: pointer;
        border-radius: 5px;
    }
    
    h4 {
        text-align: center;
    }
    
    button:hover {
        background-color: rgb(138, 145, 131);
    }
    
    table,
    td,
    th {
        border: 1px solid black;
        padding: 10px;
    }
    
    table {
        border-collapse: collapse;
        width: 95%;
    }
    
    th {
        text-align: center;
    }
    
    td {
        text-align: center;
    }
    
    footer {
        text-align: center;
    }