* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

a {
    color: rgb(31, 28, 28);
}

a:hover {
    font-weight: bold;
    /*color: rgba(255, 131, 62);*/
    color: black
}

.navbar-container {
    width: 100%;
    bottom: 0;
    /*background-color: #FFE4E1;*/
    background-color: #F4F4F4;
}

.navbar-content {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

a {
    color: rgb(31, 28, 28);
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    /*color: rgba(255, 131, 62);*/
    color: black
}

section {
    margin: 50px;
    background-color: #F4F4F4;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);
    margin-top: 7%;
    border-radius: 9px;
}

h1 {
    padding-top: 50px;
    text-align: center;
}

strong {
    color: #47909e;
}

.contenedor {
    padding: 100px 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.contenedor img {
    margin: auto;
    width: 200px;
    display: flex;
    max-width: 200px;
    justify-content: center;
}

.contenedor .nosotros {
    margin-top: 20px;
    font-size: 15px;
    color: #555;
    grid-column: span 2;
}

@media(max-width: 768px) {
    .contenedor .nosotros,
    .contenedor .imagen {
        grid-column: 1 / -1;
    }
    .contenedor img {
        width: 100%;
        justify-content: center;
    }
}

.social-call {
    /*background-color: #333;
    background-color: #FFE4E1;*/
    background-color: #F4F4F4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
    margin-top: 9.6%;
    color: black;
    width: 98, 2%;
}

.social,
a {
    color: black
}