* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

a {
    color: rgb(31, 28, 28);
}

a:hover {
    font-weight: bold;
    /*color: rgba(255, 131, 62);*/
    color: black
}

.form-select {
    cursor: pointer;
    width: 54%;
    margin-right: 50%;
    display: block;
    margin-top: 2%;
}

option {
    cursor: pointer;
}

input {
    width: 100%;
    border: 0px;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    padding-left: 50px;
    background-color: white;
    max-width: 100%;
}

.input {
    display: flex;
    position: relative;
    align-items: center;
    top: 5px;
}

.icon-input {
    position: absolute;
    padding-left: 25px;
    margin-top: 2px;
}

.buscar {
    width: 20%;
    border: 0px;
    padding: 0px;
    height: 40px;
    border-radius: 8px;
    color: rgb(241, 231, 231);
    background-color: #192231;
    cursor: pointer;
}

.buscar:hover {
    background: #c7c3c3;
}

.combos {
    background-color: #192231;
    color: white;
    padding: 8px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 17px;
}


/*paypal*/

.jumbotron {
    background-color: #333;
    color: white;
    width: 60%;
    margin: auto;
    display: block;
    margin-top: 10%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px white;
}


/*carrito*/

header,
.alert {
    z-index: 100;
}

.description {
    height: 25px;
    overflow: hidden;
    transition: height .5s ease-in .5s;
}

.description:hover {
    height: 95px;
}

.carrito {
    min-height: 80vh;
    max-width: 96%;
    margin: 0 auto;
    width: 85%;
}

.table__productos {
    display: flex;
    width: 100%;
}

.table__productos>img {
    width: 9rem;
    object-fit: contain;
    border-radius: 6px;
    margin-right: 50x;
}

.table__cantidad>input {
    width: 100%;
    border: none;
    outline: 0;
    font-size: 16px;
    font-weight: 700;
    margin-right: 30px;
    margin-bottom: 20px;
}

.hide,
.remove {
    display: none;
}

.navbar-container {
    width: 100%;
    bottom: 0;
    /*background-color: #FFE4E1;*/
    background-color: #c5c5c5;
}

.navbar-content {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.nav-item {
    cursor: pointer;
}

h2 {
    width: 25%;
    margin: auto;
    display: block;
    text-align: center;
    color: rgb(7, 7, 7);
    padding: 10px;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 5px;
}

.itemCartTotal {
    font-size: 15px;
}

.row {
    background-color: dwhite;
    width: 100%;
}

.card-title {
    background-color: #F4F4F4;
    color: black;
    width: 100%;
    max-width: 1000px;
}

.card-body {
    background-color: #F4F4F4;
    color: black;
    width: 100%;
}

.card-body p {
    font-size: 12px;
}

.card-img-top {
    width: 100%;
    height: 200px
}

.card-img-top:hover {
    cursor: pointer;
    transform: scale(1, 1.1);
}

.btn {
    background-color: #192231;
    color: white;
    display: block
}

.btn:hover {
    background-color: #c7c3c3
}

.navbar-container {
    width: 100%;
    bottom: 0;
    background-color: #FFE4E1;
    display: flex;
    justify-content: space-between;
}

.navbar-content {
    padding: 2px;
    justify-content: space-between;
}

ul,
nav {
    background-color: #F4F4F4;
    ;
    width: 100%;
}

ul,
li {
    list-style: none
}

.modal-footer,
a,
button {
    text-decoration: none;
}

div#shell {
    display: block;
    position: relative;
    margin: 100px auto;
    width: 318px;
    height: 318px;
}

div#shell {
    z-index: 1;
}

img#plax-logo {
    position: absolute;
    top: 125px;
    left: 90px;
    z-index: 3;
}

img#plax-sphere-1 {
    position: absolute;
    z-index: 4;
    top: 189px;
    left: 191px;
}

img#plax-sphere-2 {
    position: absolute;
    z-index: 2;
    top: 49px;
    left: 53px;
}

img#plax-sphere-3 {
    position: absolute;
    top: 35px;
    left: 32px;
    z-index: 1;
}

.social-call {
    /*background-color: #333;
    background-color: #FFE4E1;*/
    background-color: #F4F4F4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
    color: black;
}

.social,
a {
    color: black
}

.float {
    display: flex;
    position: fixed;
    width: 180px;
    height: 60px;
    bottom: 40px;
    right: 25px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
}

.float:hover {
    text-decoration: none;
    color: #25d366;
    background-color: #fff;
}

.my-float {
    margin-top: 14px;
    margin-right: 15px;
}

.float p {
    font-size: 15px;
    margin-top: 8px;
}

.navbar-container {
    width: 100%;
    bottom: 0;
    /*background-color: #FFE4E1;*/
    background-color: #333;
    color: white;
}

.navbar-content {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

li,
a {
    color: white
}

.button {
    width: 100%;
}

select,
option {
    width: 100%;
    max-width: 100%;
}