@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

* {
    padding: 0px;
    margin: 0px;
}

.navbar-container {
    width: 100%;
    /*position:fixed;*/
    bottom: 0;
    background-color: #333;
}

.navbar-content {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

a {
    color: rgb(31, 28, 28);
}

a.router-link-exact-active {
    color: rgba(255, 131, 62);
}

.nav-item,
a {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.nav-item:hover {
    background-color: #ccc;
    padding: 8px;
    transition: 0.5s;
    color: #000;
    border-radius: 5px;
}


/*footer*/

.container-3 {
    background: #333;
    color: #fff;
    padding: 20px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container-3 .redes-sociales,
.contactanos,
.pie-final {
    text-align: center;
    margin: 20px;
}

.pie-final {
    grid-column-start: 1;
    grid-column-end: -1;
}

.container-3 i {
    padding: 10px;
    color: #fff;
}

.container-3 i:hover {
    color: cadetblue
}

.contactanos i {
    cursor: pointer
}

.container-3 {
    background-color: #555
}

header {
    width: 100%;
    height: 100%;
    min-height: 700px;
    background-image: url("https://blog.vivanuncios.com.mx/wp-content/uploads/2019/05/camaras-de-seguridad.jpg");
    /*background-image: url("../img/fondo.jpg");*/
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin: auto;
}

header .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1 {
    font-size: 30px;
    color: white;
    background-color: #08020277;
}

.main {
    margin-top: -30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
}

.main {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    color: #fff;
}

.main span {
    font-size: 22px;
    max-height: 80%;
}

.main h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    color: #fff;
}

.subtitle-header h2 i {
    font-size: 30px;
    color: white;
    background-color: #08020277;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    max-width: 80%;
    cursor: pointer;
    padding: 5px
}

.subtitle-header h2 i:hover {
    color: rgb(216, 205, 205);
}


/*secion principal*/

.principal {
    width: 100%;
    height: 2300px;
    background: #fff;
    font-size: 17px;
    color: #555;
}

.contenedor-principal,
.contenedor-principal h4 {
    padding-top: 40px;
    margin-top: 40px;
}

.seccion-principal {
    margin: auto;
    display: flex;
    text-align: center;
    width: 100%;
    max-width: 80%;
    font-size: 15px;
}

.seccion-principal i {
    font-size: 35px;
}

.seccion-principal p {
    padding-top: 40px;
}

.contenedor-principal .comprar {
    height: 200px;
    background: #f4f5f6;
}

.compraOpcion {
    margin: 5px 20px;
}

.slider,
.comentarios,
.cursos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    width: 88%;
    margin: auto;
}

.slider-img {
    width: 300px;
    margin: auto;
    overflow: hidden;
}

.slider-img ul {
    padding: 0;
    display: flex;
    width: 400%;
    animation: carrusel 20s infinite alternate;
    animation-timing-function: ease;
}

.slider-img li {
    width: 100%;
    list-style: none;
    text-align: center;
}

.slider-img img {
    width: 100%;
    height: 100%;
}

.slider-frase,
.comentarios-parrafo,
.curso-frase {
    width: 100%;
    margin: auto;
    display: block;
    /*align-items: center;*/
    font-size: 15px;
    min-width: 80%;
}

.slider,
.comentarios,
.cursos {
    padding-top: 10px;
}


/*.comentarios form {
    width: 100%;
    border: 1px solid rgb(99, 190, 99);
    max-width:100%;
    padding: -10px 10px;
}*/

.comentarios input,
textarea {
    border: 1px solid rgb(99, 190, 99);
    width: 100%;
    padding-left: 15px;
    font-size: 12px;
    max-height: 550px;
}

.comentario,
textarea:focus {
    border: 2px solid rgb(99, 190, 99);
    outline: none;
}

.comentario,
input:focus {
    border: 2px solid rgb(99, 190, 99);
    outline: none;
}

.comentarios form>div {
    margin: 20px;
}

.cursos img {
    max-width: 300px;
    margin: auto;
}

@keyframes carrusel {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    100% {
        margin-left: -300%;
    }
}

@media (max-width: 768px) {
    header {
        margin-top: 20px;
    }
    .cabecera label {
        display: block;
    }
    .checkbtn {
        display: flex;
    }
    .menu {
        width: 80%;
        position: absolute;
        background: #555;
        margin-left: -100%;
        transition: all 500ms ease;
    }
    .slider-frase {
        display: none;
    }
    .curso-frase {
        display: none;
    }
    .seccion-principal {
        margin: auto;
        display: flex;
        text-align: center;
        width: 100%;
        max-width: 100%;
        font-size: 10px;
    }
    .comentarios-parrafo p {
        text-align: justify;
        width: 100%;
        min-width: 80%;
        font-size: 12px;
    }
    .menu ul {
        flex-direction: column;
        /* Cuando se pone en modo responsive la etiqueta ul ya no sera una fila, sera columna*/
    }
    #btnMenu:checked~.menu {
        margin: 0;
    }
    .com {
        float: right;
    }
    /********************************************************/
    .main h2,
    span {
        width: 80%;
        margin: auto;
    }
    .main span {
        display: none;
    }
}

.services {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    border-radius: 3px;
    margin-top: -200px;
}

.services-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    min-width: 250px;
    padding: 20px;
    margin: 15px;
    flex-grow: 0.7;
    background-color: #111010
}

.services-box i {
    color: red;
    font-size: 2rem;
    margin: 15px;
}

.services-box span {
    color: white;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 1rem;
}

.services-box p {
    color: white;
    margin: 0px;
    font-size: 0.9rem;
}